- provide :title, 'Edit Site'

%h1= @site.name

= form_for @site, html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-control'
  .form-group
    = f.label :url, 'URL', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.url_field :url, placeholder: 'URL', class: 'form-control'
      %p.help-block The URL must inculde 'http://'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary'
