- provide :title, 'New Site'

%h1 New Site

= form_for @site, html_options: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    = f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-control'
  .form-group
    = f.label :url, 'URL', class: 'col-sm-2 control-label'
    = f.url_field :url, autofocus: true, placeholder: 'URL', class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary'
