- provide :title, @site.name

.row
  %h1.col-md-6
    = @site.name
    %small= link_to @site.url, @site.url
  .col-md-6
    .pull-right
      %strong Last crawled:
      = @site.last_crawled || 'Not yet crawled'
      %br
      %strong Currently crawling:
      = @site.currently_crawling
      %br
      - if @site.finished_crawling
        %strong Time taken to crawl:
        = distance_of_time_in_words @site.last_crawled, @site.finished_crawling
        %br
      - if @site.links_crawled
        %strong Links Crawled:
        = @site.links_crawled + 1
        %br
      = link_to 'Edit Site', edit_site_path(@site)

- if @site.currently_crawling
  .loader
    Crawling site...
  .center
    Crawling site...
- else
  = link_to new_crawl_path(@site), class: 'btn btn-primary col-md-12 crawl-button' do
    %i.fa.fa-rocket
    Crawl

%h3
  %strong Total Errors:
  = @site.crawling_errors.count
%table.results-table.table.table-striped
  %thead
    %tr
      %th Error Type
      %th URL
      %th Additional Info
  %tbody
    - if @site.crawling_errors.any?
      - @site.crawling_errors.each do |error|
        %tr
          %td= error.error_type
          %td= link_to error.url, error.url
          %td= error.info
    - else
      %tr.success.center
        %td{'colspan' => '3'} There are no errors.
